<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialPortUsing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SerialPortUsing.Properties.Settings.Access_controlConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\OneDrive\Projects\GitHub\Access_control\Access_control.accdb"
            providerName="System.Data.OleDb" />
        <add name="SerialPortUsing.Properties.Settings.AC_DataSet" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Access_control\Access_control.accdb"
            providerName="System.Data.OleDb" />
        <add name="SerialPortUsing.Properties.Settings.Access_control_in_OneWire"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\OneWireArdiuno2015\Access_control.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <SerialPortUsing.Properties.Settings>
            <setting name="COMName" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
        </SerialPortUsing.Properties.Settings>
    </userSettings>
</configuration>
